* {
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

/* START: Products css */

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px solid rgb(44, 43, 43);
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: auto;
}

.product-info {
  font-weight: 600;
}

.product-review {
  color: #f8b414;
  margin-left: 3px;
}
.product-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-info-price {
  margin: 0;
}

/* END: Products css */